/* Custom CSS */
body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #f8f9fa !important;
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link {
    color: #555;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Top Bar */
.top-bar {
    background-color: #0071dc;
    text-align: center;
    padding: 10px 0;
}

.welcome-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeIn 2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walmart-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    margin-right: 10px;
    animation: iconBounce 2s infinite;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes iconBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Carousel styles */
.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.carousel-inner img {
    width: 800px;
    height: auto; /* Maintain the aspect ratio */
    max-height: 517px; /* Set maximum height as needed */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

footer {
    background: black;
    padding: 40px 0;
}

footer .text-uppercase {
    font-weight: bold;
}

footer .text-dark:hover {
    color: #007bff !important;
    text-decoration: none;
}

footer .bg-dark {
    background-color: #343a40 !important;
}

footer .text-white {
    color: #fff !important;
}

/* Logo Area */
.logo {}

.footer-area {
    background: black;
}

.footer-area h5 {
    color: white !important;
}

.footer-area p {
    color: white !important;
}

.footer-area a {
    color: white !important;
}

.custom-theme-button {
    background-color: #0071dc!important; /* Set the background color to blue */
    color: white !important; /* Set the text color to white */
    border: none !important; /* Remove any borders */
    border-radius: 0px !important; /* Remove border radius */
    padding: 10px 50px !important; /* Set padding */
}

.custom-theme-button:hover {
    background-color: #f7aa08 !important; /* Change background color to yellow on hover */
    color: black !important; /* Change text color to black on hover */
}

.custom-common-theme-button {
    background-color:#0071dc !important; /* Set the background color to blue */
    color: white !important; /* Set the text color to white */
    border: none !important; /* Remove any borders */
    border-radius: 0px !important; /* Remove border radius */
}

.custom-common-theme-button:hover {
    background-color: #f7aa08 !important; /* Change background color to yellow on hover */
    color: black !important; /* Change text color to black on hover */
}

.hero-left-text {
    margin-top: 100px;
}

.card-img-top {
    height: 250px;
    padding: 20px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-imge {
    width: 100px;
    height: 100px;
}
